<div style="display: flex; justify-content: space-between">

  <div class="card">

    <h3>Foodz</h3>
    <ul class="list-group">

      <li class="list-group-item" *ngFor="let product of products; let i = index;">
        {{ product.category }}:
        {{ product.name }}
        <button (click)="addToCart(product.$key,i)" class="btn btn-outline-primary">{{ product.price | currency:'EUR'}}
          | +</button>
      </li>

    </ul>
  </div>

  <div class="card">
    <h3>Basket</h3>
    <ul>
      <li *ngFor="let product of basket; let i = index;">
        <button (click)="updateQuantity(product.$productKey, -1)" class="btn btn-number">&#8722;</button>
        <span class="number">
          {{product.quantity}}
        </span>
        <button (click)="updateQuantity(product.$productKey, 1)" class="btn btn-number">&#43;</button>
        {{ product.name }}
      </li>
    </ul>

    <form [formGroup]="basketForm">

      <input type="text" placeholder="your name" formControlName="name">

      <div formArrayName="additionalProducts">

        <p *ngFor="let additionalProduct of additionalProductsForm.controls; let i=index" [formGroupName]="i">

          <input type="number" placeholder="quantity" min="0" max="10" step="1" formControlName="quantity">
          <input type="text" placeholder="Product name" formControlName="productName">

          <button type="button" class="close" aria-label="Close" (click)='deleteAdditionalProduct()'>
            <span aria-hidden="true">&times;</span>
          </button>
        </p>

      </div>

      <button (click)="addAdditionalProduct()" class="btn btn-outline-primary no-margin-left">Add new Product</button>
      <!--
      <p>
        Value: {{ basketForm.value | json }}
      </p>
      -->
      <br />
      <button type="submit" disabled="disabled" class="btn btn-outline-primary no-margin-left">Submit</button>
    </form>

  </div>
</div>
