<div style="display: flex; justify-content: space-around">

  <div class="card">

    <h3>Foodz</h3>
    <ul *ngFor="let product of products; let i = index;">

      <li>
        {{ product.name }}
        <button (click)="addToCart(product.$key,i)">{{ product.price | currency:'EUR'}} | +</button>
      </li>

    </ul>
  </div>

  <div class="card">
    <h3>Basket</h3>

    <form [formGroup]="basketForm">

      <input type="text" placeholder="name" formControlName="name">

      <div formArrayName="additionalProducts">

        <p *ngFor="let additionalProduct of additionalProductsForm.controls; let i=index" [formGroupName]="i">

          <input type="number" placeholder="quantity" min="0" max="10" step="1" formControlName="quantity">
          <input type="text" placeholder="Product name" formControlName="productName">

          <button type="button" class="close" aria-label="Close" (click)='deleteAdditionalProduct()'>
            <span aria-hidden="true">&times;</span>
          </button>
        </p>

      </div>

      <button (click)="addAdditionalProduct()">Add new Product</button>
      <!--
      <p>
        Value: {{ basketForm.value | json }}
      </p>
      -->
    </form>


    <ul *ngFor="let product of basket; let i = index;">
      <li>
        <button (click)="updateQuantity(product.$productKey, -1)">-</button>
        {{product.quantity}}
        <button (click)="updateQuantity(product.$productKey, 1)">+</button>
        {{ product.name }}
        <span>
          Line total:
        </span>
      </li>
    </ul>

  </div>
</div>
