<header>
  <nav class="card">
    <ul class="navigation">
      <li>
          tosu.be
      </li>
      <li>
        <a routerLink="/home" class="logo">
          Home
        </a></li>
      <li><a routerLink="/bankaccount">Tools</a></li>
      <li><a routerLink="/fries">Fries</a></li>
      <li><a routerLink="/basket">Basket</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="card">
  <p>
    <small>
      Published under the <a href="https://raw.githubusercontent.com/TomDeS/tosu/master/license" target="_blank">GNU
        General Public License v3.0</a>.
      This website uses cookies. And electricity.
    </small>
  </p>
</footer>
